.modal-add {
  position: fixed;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-add .pop-up-add {
  background-color: white;
  overflow-y: scroll;
  width: 70vw;
  height:40vw;
  border-radius: 6px;
  /* background-color: white; */
  padding: 16px 21px;
}
.modal-add .pop-up-add .title-title-add .title {
  flex-direction: column;
  height: 10vh;
}

.final-title{
  font-weight: bold;
  text-transform: uppercase;
}

.modal-add .pop-up-add {
  position: relative;
}

.modal-add .pop-up-add .title-title-add .title .close-icon {
  position: absolute;
  top: 5%;
  left: 90%;
}
.modal-add .pop-up-add .title-title-add .title-title {
  text-align: start;
  font-weight: 700;
  color: #233555;
}
.modal-add .pop-up-add .title-title-add .title::after {
  content: "";
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: #919eab;
}
.modal-add .button-add {
  margin-top: 10px;
  justify-content: flex-end;
}

.select-form-mui{
  padding: 15px 10px;
  border: 1px solid #919eab;
  
}

.input-date{
  display: flex;
}

.date-form{
  width: 200px;
}

.form-date-here{
 margin-right: 20px;
}

.set-img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.preview-img{
  display: inline-block;
  margin-bottom: 20px;
}