.col-card {
  width: 20% !important;
}
.title-header {
  justify-content: space-between;
  margin-top: 10px;
}
.title-header .title-add {
  width: 63%;
  justify-content: space-between;
}
.title-header .title-add .title {
  padding: 1px 5px;
  border-radius: 3px;
  border-left: 3px solid #1890ff;
}
